---
title: 'Hello, World!'
published: true
tags: hello world
---

p
	' First article on this blog, built with
	a href="//middlemanapp.com/" target="_blank" Middleman
	' .

p
	' Will also attempt to play around with
	a href="//slim-lang.com/" target="_blank" Slim
	'  and
	a href="//sass-lang.com" target="_blank" Sass
	' .
