---
title: 'Fantasy Premier League'
published: true
tags: visualization fantasy premier league
---

p
  ' Few weeks ago the 2015/16 Premier League concluded. It was the first
  ' season that I managed to keep up with my
  ' Fantasy Premier League team all the way through the end.

p
  ' Unfortunately I lost the 1st place in my private league by 4 points,
  ' literally in the last minute of the season due to Smalling's own goal
  ' against Bournemouth at 90' + 3'.

p
  ' It was an exciting season for the Premier League and for my FPL league
  ' and I was eager to start building tools to enhance the FPL experience.

p
  ' Data Science and Machine Learning are the two prominent topics that come
  ' to mind when thinking of ways to incorporate Computer Science skills with
  ' FPL.

p
  ' In this article I'll demonstrate a simple, interactive, visualization from
  ' the data gathered from my private FPL League,
  a href="//fantasy.premierleague.com/a/leagues/standings/94890/classic" target="_blank" The League of Sirs
  ' .

p
  ' The legend on the top is clickable and it's useful for focusing on a
  ' specific team's progress and hovering over a data point displays its value.

div class="plot-container"
  svg id="fpl-plot"

p
  ' On the technical side of things, below are the two main libraries I've used
  ' to build the above visualization - along with some sample code snippets.

p
  ' 1.
  a href="//cheeriojs.github.io/cheerio/" target="_blank" Cheerio
  '  for scrapping the
  a href="//fantasy.premierleague.com" target="_blank" FPL
  '  website.

= code('javascript') do
  |
    var cheerio = require('cheerio');

    // Scrapping every player's info from the HTML table at
    // fantasy.premierleague.com/my-leagues/92278/standings/

    var players = [];

    var $ = cheerio.load(html);

    $('.ismTable.ismStandingsTable tr')
      .slice(1).each(function (i, row) {

        var playerId = '',
            teamName = '',
            playerName = '';

        $(this)
        .find('td').each(function (n, td) {

          if (n === 2) {
              playerId = $(this)
                        .find('a').attr('href').split("/")[2];
              teamName = $(this).find('a').text();
          } else if (n === 3) {
              playerName = $(this).text();
          }
        });

        players.push({
          entry: playerId,
          pname: playerName,
          tname: teamName
        });
    });

p
  ' 2.
  a href="//plottablejs.org/" target="_blank" Plottable.js
  '  for plotting the bump chart.

= code('javascript')
  |
    // Rendering plot as a table of components
    var table = new Plottable.Components.Table([
      [null, title],
      [null, legend],
      [null, labelOp],
      [yAxisOp, opPlots],
      [null, xAxisOp],
      [null, labelTv],
      [yAxisTv, tvPlots],
      [null, xAxisTv]
    ]);

    table.renderTo("svg#fpl-plot");

p
  ' Shortcomings:

  ul
    li
      ' Plottable.js automatically picks a nice range of colors, depending on
      ' the number of plotted lines. If a color is already in use, then a
      ' lighter version of that color is used. However as the number of lines
      ' grows, we end up with several undistinguished white-ish colors.
      ' Also, it becomes really hard to find a properly colored background to
      ' contrast every color on the plot.

    li
      ' Responsiveness. For fewer data points it would be feasible to fit
      ' the whole plot on a phone's screen. However, with lots of plotted points,
      ' responsiveness becomes a challenge - unless
      a href="//www.youtube.com/v/NQ-8IuUkJJc?start=62&end=121&autoplay=1" target="_blank" plots for ants
      '  are acceptable.

    li
      ' Not winning the league 😢 😭

p
  ' Finally, credit must be given where it is due. Congratulations to
  a href="//twitter.com/LCFC" target="_blank" Leicester City FC
  '  for winning the Premier League and to
  a href="//fantasy.premierleague.com/a/entry/148892/history" target="_blank" Unpezable FC
  '  for winning the prestigious League of Sirs!

= partial "partials/vis-fpl"
