---
title: 'First Pull Request'
published: true
date: 2016-01-15
tags: first pull request open source git github
---

p
	blockquote
		' A journey of a thousand miles begins with a single step.

p
	' During the Computational Linguistics 
	a href="//www.cs.toronto.edu/~frank/csc2501/" target="_blank" class
	'  I took, we used 
	a href="//github.com/nltk" target="_blank" NLTK
	'  extensively and while working on one of the assignments, I spotted a typo in the help section of one of the graphical tools. I regarded it as insignificant and proceeded to play around with context free grammars and parse trees.

p
	' After the end of the semester, I came across 
	a href="//firstpr.me" target="_blank" firstpr.me
	'  which shows the first ever pull request of a given Github user. I noticed that now open-source rockstars, started with pull requests as simple as fixing typos in the documentation. 

p
	' The above realization, motivated me to go back to the NLTK 
	a href="//github.com/nltk/nltk" target="_blank" repository 
	'  and fix the spelling mistake I had found earlier.

p 
	' And 
	a href="//github.com/nltk/nltk/pull/1240" target="_blank" voilà
	'  !

p
	' It was a single word fix; however, it was gratifying and encouraging for future contributions. As a bonus, I can also tell people in the Natural Language Computing
	a href="//www.cs.toronto.edu/~frank/csc401/" target="_blank" class
	'  I'm taking this semester, to check the contributors section in NLTK's repo and witness a 
	strike brief
	'  surprise on their faces.

p
	' If you too, are looking to make that first step to open-source, here are my two cents:

	ol
		li
			' Browse and fiddle around repositories that interest you. Open-source software you use at work or school are a good place to begin.
		li
			' Look for and read the CONTRIBUTE.md file.
		li
			' Browse the issues section of the repositories and look for noob friendly issues, sometimes they label them as such.
		li
			' Check out the contributors of your favorite projects, usually they have lots of Github followers and numerous organization badges under their belt. Follow them on Github and Twitter to "stalk" on their open-source endeavors. A good example is 
			a href="//twitter.com/sindresorhus" target="_blank" @sindresorhus
			' .

p align="center" 
	' /* code on */