html {
  overflow-y: scroll;
}
body,
html {
  margin: 0;
  padding: 0;
  background: #fff;
  color: black;
}
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 2rem;
  font-size: 1.15rem;
}
.container {
  max-width: 690px;
  margin: 48px auto;
  position: relative;
}
@media (max-width: 40em) {
  .container {
    padding: 0 1.5em 0 1.5em;
  }
}
header {
  text-align: center;
  font-family: 'Domine', serif;
}
header h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
header h1 a {
  color: black;
  border: 0;
  text-decoration: none;
}
header p.chasm {
  text-align: center;
  display: block;
  width: 66px;
  position: relative;
  margin: 32px auto;
  height: 0;
  border-bottom: 2px solid #dedede;
}
h1,
h2,
h3 {
  font-weight: bold;
}
header h2 {
  color: #6d6d6d;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0;
}
header h2 a {
  text-decoration: none;
  color: #0a98e2;
  border-bottom: 1px solid #bce6fc;
}
header h2 a:visited {
  color: #0a98e2;
  border-bottom: 1px solid #bce6fc;
  text-decoration: none;
}
header h2 a:hover {
  border-bottom: 1px solid #bce6fc;
}
h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: bold;
}
article h1 {
  margin: 4px 0;
  line-height: normal;
  color: black;
}
article h2 {
  margin: 0 0 1em 0;
  color: black;
  padding: 0;
}
article h2 a {
  font-weight: bold;
  color: black;
  border: none;
}
article h2 a:hover {
  padding-bottom: 1px;
  border-bottom: 1px solid #4d4d4d;
}
article p,
ol {
  line-height: 1.8em;
}
article a {
  font-weight: normal;
  text-decoration: none;
  color: #0a98e2;
}
article a:hover {
  border-bottom: 1px solid #bce6fc;
}
article li {
  margin-bottom: 12px;
}
article time {
  color: #6d6d6d;
  font-weight: bold;
  margin-top: 50px;
}
strong {
  font-weight: bolder;
}

blockquote {
  border-left: 4px solid #ccc;
  color: #5d5d5d;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-style: italic;
  margin: 8px 0;
  background: #f1f1f1;
  padding: 8px 24px;
}

.code-snippet-wrapper {
  width: calc(50vw + 50%);
  position: relative;
  left: calc(-50vw + 50%);
  padding: 1px 0 1px calc(50vw - 50%);
  background-color: #1b1d1e;
}
