html {
  overflow-y: scroll;
}
body,
html {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #4d4d4d;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.container {
  max-width: 590px;
  margin: 0 auto;
  position: relative;
  margin-top: 44px;
  margin-bottom: 2em;
}
@media (max-width: 40em) {
  .container {
    padding: 0 1.5em 0 1.5em;
  }
}
header {
  text-align: center;
}
header h1 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}
header h1 a {
  color: #333;
  border: 0;
  text-decoration: none;
}
header p.chasm {
  text-align: center;
  display: block;
  width: 66px;
  position: relative;
  margin: 2em auto;
  height: 0;
  border-bottom: 2px solid #dedede;
}
h1,
h2 {
  font-weight: 700;
}
header h2 {
  color: #6d6d6d;
  font-size: 0.925em;
  font-weight: bold;
}
header h2 a {
  outline-style: none;
  text-decoration: none;
  border-bottom: 1px solid #6d6d6d;
}
header h2 a:link {
  color: #6d6d6d;
}
header h2 a:visited {
  color: #6d6d6d;
}
header h2 a:hover {
  border-bottom: 1px solid #dedede;
}
h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 700;
}
article h1 {
  margin: 0;
  color: #333;
}
article h2 {
  margin: 0 0 1em 0;
  color: #333;
  padding: 0;
}
article h2 a {
  color: #333;
  border: none;
}
article h2 a:hover {
  padding-bottom: 1px;
  border-bottom: 1px solid #4d4d4d;
}
article p,
ol {
  line-height: 1.5em;
}
article a {
  text-decoration: none;
  color: #0a98e2;
  border-bottom: 1px solid #bce6fc;
}
article a:hover {
  border-bottom: 1px solid #0a98e2;
}
article time {
  color: #6d6d6d;
  font-weight: 800;
  margin-top: 50px;
}
strong {
  font-weight: 900;
}

blockquote {
  border-left: 4px solid #ccc;
  color: #5d5d5d;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-style: italic;
  margin: 0;
  background: #f1f1f1;
  padding: 4px 0 4px 10px;
}

.code-snippet-wrapper {
  width: calc(50vw + 50%);
  position: relative;
  left: calc(-50vw + 50%);
  padding: 1px 0 1px calc(50vw - 50%);
  background-color: #1b1d1e;
}
